<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>unholyballs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>hbserver.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>holyballs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>multiballs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A8A8DF411B07291B00D701AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A8A8DF991B07E6A400D701AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A8A8DFB71B09282500D701AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A8A8DFD61B0A9C0300D701AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
